<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body class="main-body">
    {{>navbar}}
    <h1 class="mainh">Welcome to Nen Patel's Channel</h1>
    <a href="/weather"><button class="btn btn-primary">Get Weather</button></a>
</body>
</html>