<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <div class="main-div">
        <form>
            <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
            <input type="submit" id="submitBtn">
        </form>
    </div>
    <br>
    <div class="main-div1">
        <h3 id="tempValue"></h3>
    </div>
    <script src="./js/main.js"></script>
</body>
</html>